<!-- Card for travel time between User city and first destinations -->
<body>
  <div class="card-destination background-light-grey d-flex flex-column">
    <div class="card-destination-sm background-light-grey d-flex flex-column ">
      <p><%= i +1 %></p>
      <p>From <%= @itinerary.user.city %> to <%= d.city %>:</p>
    </div>
    <%= render partial: 'destination_card', locals: { d: d, i: i }%>
  </div>
</body>
