<h1>See all of our members' Roadtrips!</h1>

<% @all_itineraries.each do |itinerary| %>
    <%= link_to itinerary.title, itinerary_path(itinerary) %><br>
    <% if itinerary.destinations.any? %>
      <p>From <%= itinerary.destinations.first.city %> to <%= itinerary.destinations.last.city %></p>
    <% else %>
      <p>No destinations specified yet</p>
    <% end %>
<% end %>
