<main class="d-flex">
  <div class="background-green col-3 scrollable-container-new-iti ps-5">
  <div class="col-4">
  <div class="itinerary-form">
    <%= form_for @itinerary, html: {class: 'itinerary_form_with_destinations'} do |f| %>
      <div>
      <%= render partial: 'form_fields_with_variable_destinations', locals: { f: f} %>
      <div>
      <%= f.submit "Create itinerary", class: "background-sand border-0 rounded" %>

      </div>
      </div>
    <% end %>
  </div>
</div>
    <div class="col-md-9">
      <!-- Interactive Map -->
      <div id='map' style='width: 75vw; height: 90vh; position: absolute; top: 60px; left: 25vw;'></div>
      <%= javascript_include_tag 'map' %>
    </div>

  </div>
</main>
