<%= form_for @itinerary, html: {class: 'itinerary_form_with_destinations'} do |f| %>

  <%= render partial: 'form_fields_with_variable_destinations', locals: { f: f} %>

  <%= f.submit %>

<% end %>

<!-- Interactive Map -->
<div id='map' style='width: 25vh; height: 25vh;'></div>
<%= javascript_include_tag 'map' %>
<!-- End Interactive Map -->
