<h1>Itineraries#show</h1>
<p>Find me in app/views/itineraries/show.html.erb</p>



  <h1>Static Map Generator</h1>
  <form id="mapForm">
    <label for="city">Enter City Name or Coordinates:</label>

    <input type="text" id="city" name="city">
    <button type="submit">Generate Map</button>
  </form>
  <div id="cityMapContainer"></div>

<div id="geocoder"></div>  
<pre id="result"></pre>  
<script src="static_map.js"></script>
