<div class="background-image-banner d-flex align-items-center justify-content-center">
  <h1>Mon Profil</h1>
</div>
<div class="d-flex flex-row flex-wrap w-100 justify-content-center">
  <!-- User card -->
  <div class="col-2 m-5 d-flex flex-column align-items-center text-center">
    <h2>Mes Infos</h2>
    <%= render partial: 'user_card'%>
  </div>

  <div class="col m-5">
    <!-- Container itineraries card -->
    <div class="container-fluid">
      <div class="text-center">
        <h2>Mes RoadTrips</h2>
      </div>
      <div class="row">
        <% @user.itineraries.each do |i| %>
          <div class="col d-flex flex-wrap justify-content-center mb-2 me-2">
            <%= render partial: '/layouts/itinerary', locals: { i: i}%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="filler"></div>
