<% content_for :title, "User Profile" %>
<% content_for :meta_description, "My user profile page" %>

<div class="background-image-banner d-flex align-items-center justify-content-center">
<div class="background-sand text-dark p-1 d-flex flex-row rounded">
  <h1>My Profile</h1>
</div>
</div>
<div class="d-flex flex-row flex-wrap w-100 justify-content-center">
  <!-- User card -->
  <div class="col-2 mx-5 mt-2 d-flex flex-column align-items-center text-center">
    <h2>Mes Infos</h2>
    <%= render partial: 'user_card'%>
  </div>

  <div class="col mx-5 mt-2">
    <!-- Container itineraries card -->
    <div class="container-fluid">
      <div class="text-center">
        <h2>Mes RoadTrips</h2>
      </div>
      <div class="row">
        <% @user.itineraries.each do |i| %>
          <div class="col d-flex flex-wrap justify-content-center mb-2 me-2">
            <%= render partial: '/layouts/itinerary', locals: { i: i}%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%if current_user == User.find_by(id: params[:id])%>
  <div class="container-fluid">
    <div class="text-center">
      <h2>Mes RoadTrips Likes : <%=@other_user_likes.count %></h2>
    </div>
    <div class="row">
      <% @other_user_likes.each do |l| %>
        <%i = l.itinerary%>
        <div class="col d-flex flex-wrap justify-content-center mb-2 me-2">
        <%= render partial: '/layouts/itinerary', locals: { i: i}%>
        </div>
      <% end %>
    </div>
  </div>
<%end%>

<div class="filler"></div>
