<div class="row ms-5 mt-5 d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 mquery-img-presentation">
        <img src="assets/mountain-road-1" class="img-presentation">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mquery-txt-presentation">
    <h2>Créez le roadtrip de vos rêves de manière simple</h2>
    <p>Vous souhaitez prévoir vos futurs roadtrip de manière précise étape par étape ? Ce site est fait pour vous ! Lancez vous facilement !</p>
    <a href= "<%= new_itinerary_path %>" class="btn btn-primary">C'est parti !</a>
    </div>
</div>

<div class="row ms-5 mt-5 mb-5 d-flex flex-wrap-reverse ">
    <div class="col-12 col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-center mquery-txt-presentation">
    <h2>Découvrez tous les roadtrips!</h2>
    <p>Venez voir tous les roadtrips déjà partagés part tout nos utilisateurs ! Et soyez inspiré afin de reparcourir ces expériences lors d'une future aventure! </p>
    <a href= "<%= itineraries_path %>" class="btn btn-primary">Allons-y !</a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mquery-img-presentation">
        <img src="assets/trip-train" class="img-presentation ms-5">
    </div>

</div>