<div class=" margin-5 d-flex flex-row flex-wrap justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 mquery-img-presentation">
    <%= image_tag("mountain-road-1.jpg", alt:'Mountain road', :class => "img-presentation") %>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mquery-txt-presentation">
    <h2 class="text-center">The easiest way to create the Roadtrip of your dreams !</h2>
    <p class="mx-5 text-center">Do you want to create your future Roadtrips precisely step by step ? This website is made for you. Try it out now !</p>
    <a href= "<%= new_itinerary_path %>" class="background-sand text-dark btn-hover shadow border-0 rounded py-2 px-3 text-decoration-none">LET'S GO!</a>
  </div>
</div>
<div class="margin-5 d-flex flex-row justify-content-center flex-wrap-reverse mb-5">
  <div class="col-12 col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-center mquery-txt-presentation">
    <h2>Out of inspiration ?</h2>
    <p class="mx-5 text-center">Check out all the Roadtrips created on our website and get on the road ! </p>
    <a href= "<%= itineraries_path %>" class="background-sand text-dark btn-hover shadow border-0 rounded py-2 px-3 text-decoration-none">LET'S GO!</a>
  </div>
  <div class="col-12 col-sm-12 col-md-6 mquery-img-presentation">
    <%= image_tag("trip-train.jpg", alt:'Train backpack', :class => "img-presentation") %>
  </div>
</div>
