<div class="row ms-5 mt-5">
    <div class="col-6">
        <img src="assets/mountain-road-1" class="img-presentation">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <h2>Title of this container</h2>
        <p>Non-sense description just to fill the space for the moment, if anyone has ideas to write in there please change it, bye.</p>
    </div>
</div>

<div class="row ms-5 mt-5 mb-5">
    <div class="col-6 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <h2>Title of this container</h2>
        <p>Non-sense description just to fill the space for the moment, if anyone has ideas to write in there please change it, bye.</p>
    </div>
    <div class="col-6">
        <img src="assets/trip-train" class="img-presentation ms-5">
    </div>

</div>