<% content_for :title, "Home Page" %>
<% content_for :meta_description, "Home page of DreamDriver" %>
<body>
  <main>
    <div class="jumbotron background-image-jumbotron d-flex align-items-center justify-content-center">
      <div class="background-sand mb-5 p-1 d-flex flex-row rounded">
        <div class="m-2">    <button class="cta">
        <span class="hover-underline-animation"><%= link_to "Create the roadtrip of your dreams !", new_itinerary_path, class: "text-dark text-decoration-none" %></span>
        <svg
          id="arrow-horizontal"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="10"
          viewBox="0 0 46 16"
        >
          <path
            id="Path_10"
            data-name="Path 10"
            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            transform="translate(30)"
          ></path>
        </svg>
      </button></div>
      </div>
    </div>



  


        <!-- Container itineraries card -->
        <div class="d-flex justify-content-center my-2">
        <h1>Our best Roadtrips ! </h1>
        </div>
    <div class="container-fluid">
      <div class="row">
        <% @itineraries.each do |i| %>
          <div class="col d-flex flex-wrap justify-content-center my-3 me-2">
            <%= render partial: '/layouts/itinerary', locals: { i: i}%>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'presentation' %>
  </main>
</body>
