<body>
  <main>
    <div class="jumbotron background-image-jumbotron d-flex align-items-center justify-content-center">
      <div class="background-green mb-5 p-1 d-flex flex-row rounded">
        <div class="m-2 p-2"><button class="button-card-large">
      <div class="text">
      <span><%= link_to "Create the roadtrip of your dreams !", new_itinerary_path, class: "text-dark text-decoration-none" %></span>
      </div>
      <div class="clone">
      <span><%= link_to "Create the roadtrip of your dreams !", new_itinerary_path, class: "text-dark text-decoration-none" %></span>
      </div>
      <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="20px">
      <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
      </svg>
    </button></div>
      </div>
    </div>

        <!-- Container itineraries card -->
    <div class="container-fluid">
      <div class="row">
        <% @itineraries.each do |i| %>
          <div class="col d-flex flex-wrap justify-content-center my-3 me-2">
            <%= render partial: '/layouts/itinerary', locals: { i: i}%>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</body>
