<body>
  <main>
    <div class="jumbotron background-image-jumbotron d-flex align-items-center justify-content-center">
      <div class="background-green mb-5 p-1 d-flex flex-row rounded">
        <div class="bg-white m-2 p-2 rounded">Lieu de départ</div>
        <div class="bg-white m-2 p-2 rounded">Lieu d'arrivée</div>
        <div class="m-2 p-2">GO!</div>
      </div>
    </div>

        <!-- Container itineraries card -->
    <div class="container-fluid">
      <div class="row">
        <% @itineraries.each do |i| %>
          <div class="col d-flex flex-wrap justify-content-center my-3 me-2">
            <%= render partial: '/layouts/itinerary', locals: { i: i}%>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</body>
