.background-image-jumbotron {
    background-image: url("assets/view-for-jumbotron");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
}



.img-card {
    width: 28vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.img-presentation {
    width: 40vw;
    height: auto;
}

.background-image-card {
    background-image: url("assets/ajaccio");
    background-color: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
    background-size:contain;
    background-repeat: no-repeat;
    color: white;
}