.background-image-jumbotron {
    background-image: url("assets/baniere-fond-topo");
    background-size: cover;
    background-repeat: no-repeat;
    height: 92.5vh;
}



.img-card {
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
}