::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fbbe98;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fad8c2;
}
html {
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    0deg,
    rgba(203, 192, 185, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  overflow: auto;
  overflow-x: hidden;
}

html,
body {
  min-height: 100vh !important;
}

body {
  min-height: 100vh !important;
  background-color: #d9f4ff !important;
  /* background: linear-gradient(
    0deg,
    rgba(203, 192, 185, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* font-family: Garamond, serif !important; */
}

footer{
  margin-top: auto;
}

main {
  height: fit-content;
}

.logo-website {
  height: 5vh;
  width: auto;
}

.dropdown-toggle.dropdown-toggle-left::after {
    border-bottom: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    border-top: none;
    position: absolute;
    right: auto;
    left: 0.2em;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    content: '';
}


.filler {
  flex-grow: 1;
}
.background-green {
  background-color: #97CDB6 !important;
}

.background-sand {
  background-color: #FA9270 !important;
  color: white !important;
}

.background-light-grey {
  background-color: rgb(231, 231, 231);
}

.background-blue {
  background-color: #d9f4ff !important;
}


.btn-hover:hover,
.btn-hover:focus {
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
 color: rgba(0, 0, 0, 0.65);
}

.btn-hover:hover {
 transform: translateY(-1px);
}

.btn-hover:active {
 background-color: #F0F0F1;
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
 color: rgba(0, 0, 0, 0.65);
 transform: translateY(0);
}

.card-itinerary {
  border-radius: 10px;
  width: 250px;
  min-width: 250px;
}

.card-destination {
  border-radius: 10px;
  width: 300px;
  min-width: 250px;
  height: 500px !important;
  margin: 30px 10px 0 10px;
}

.card-destination-sm {
  border-radius: 10px;
  width: 300px;
  min-width: 250px;
  height: 100px !important;
}

.button-card {
  width: 100px;
  height: 56px;
  overflow: hidden;
  border: none;
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
}

.button-card > div,
.button-card > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.button-card:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 1vh;
  color: #FA9270;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.button-card:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-card .clone > *,
.button-card .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

.button-card .clone > * {
  transform: translateY(60px);
}

.button-card:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.button-card:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.button-card:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.button-card:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.button-card:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.button-card:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
.button-card svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.button-card:hover svg {
  color: #FA9270;
  transform: translateY(-50%) rotate(-90deg);
}



.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.icone-road {
  width: 90px;
  height: auto;
}



.heart-container {
  --heart-color: rgb(164, 0, 0);
  position: relative;
  width: 30px;
  height: 30px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled,
        .heart-container .svg-full {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.svg-full {
  display: block
}


.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}