.scrollable-container-new-iti {
  overflow-y: scroll;
  height: 82vh;
  overflow-x: hidden;
}

.position-itinerary-button {
  width: 100%;
  height: 5vh;
}

.field-new-iti {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: solid 1px #fa9270;
  margin: 5px 0 0 0;
  width: 17vw;
  background-color: transparent;
}

.field-new-iti:focus {
  outline: 0;
}

.map-size {
  width: 75vw;
  height: 87vh;
}

@media only screen and (max-width: 768px) {
  #form-container-iti {
    height: 30vh;
    width: 100vw;
  }

  .map-size {
    height: 40vh !important;
    width: 100vw !important;
  }

  .mquery-img-presentation {
    display: flex;
    justify-content: center;
    width: 100vh;
    height: auto;
    margin: 0 !important;
  }

  .img-presentation {
    width: 100vh;
    height: auto;
  }
}
