.scrollable-container-new-iti {
    overflow-y: scroll;
    height: 80vh;
    overflow-x: hidden;
    
}

.position-itinerary-button {
    width: 25vw;
    height: 5vh;
}

.field-new-iti {
    border: solid 1px gray;
    border-radius: 5px;
    margin: 5px 0 0 0;
    width: 17vw;
}