.background-image-banner {
  background-image: url("assets/baniere-fond-topo");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
}

.card-user {
  background-color: #fad6c0;
  border-radius: 10px;
  width: 250px;
}

.img-avatar {
  width: 200px;
  height: 200px;
  border-radius: 30px 0;
}

.img-destination {
  width: auto;
  height: 20vh;
}

.margin-top-15vh {
  margin-top: 10vh;
}

.scrollable-container {
  overflow-y: auto; /* or overflow-y: scroll; */
  height: 56vh; /* Optional: Limit the maximum height */
  overflow-x: hidden;
}
